<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-warning alert-dismissible fade show" role="alert">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3 align-items-center">
    <div class="field form-group">
      <% form.label :name, class:"form-label" %>
      <%= form.text_field :name, class:"form-control", placeholder: "Name" %>
    </div>

    <div class="field form-group">
      <% form.label :email, class:"form-label" %>
      <%= form.text_field :email, class:"form-control", placeholder: "Email", type:"email" %>
    </div>

    <div class="field form-group">
      <% form.label :password, class:"form-label" %>
      <%= form.text_field :password, class:"form-control", placeholder: "Password", type:"password" %>
    </div>

    <div class="field form-group">
      <% form.label :password_confirmation, class:"form-label" %>
      <%= form.text_field :password_confirmation, class:"form-control", placeholder: "Confirm Password", type:"password" %>
    </div>
    <br/>
    <div class="actions">
      <%= form.submit class: "btn btn-dark" %>
    </div>
  </div>
  <% end %>